[core]
	editor = nvim

[init]
  defaultBranch = main

[alias]
	a = add
	sts = status -sb
	logger = git log --graph --abbrev-commit --decorate --date=relative
	cm = commit -m
	ca = commit -a
	aall = add .
	d = diff
	fuck = reset --hard

[pull]
	rebase = true
[push]
	default = current
[log]
	decorate = short
[user]
	name = Marcos Oliveira
	email = vmarcosp.pereira@gmail.com
[gpg]
	program = gpg
[commit]
	gpgsign = false
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
